:root {
  --neue-ultlt: 'HelveticaNeueLTGEOW82-25UltLt';
  --neue-th: 'HelveticaNeueLTGEOW82-35Th';
  --neue-lt: 'HelveticaNeueLTGEOW82-45Lt';
  --neue-lt-reg: 'HelveticaNeueLTGEOW82-45Lt-Regular';
  --neue-rm: 'HelveticaNeueLTGEOW82-55Rm';
  --neue-md: 'HelveticaNeueLTGEOW82-65Md';
  --neue-bd: 'HelveticaNeueLTGEOW82-75Bd';
  --bpg-square-caps: 'BPG Square 37 Caps';
  --bpg-square: 'BPG Square 37';
  --ranua-md: 'Ranua-Medium';
  --ranua-rg: 'Ranua-Regular';

  --ratio: 1.52857;
}

