//
// This file contains all @font-face declarations.
/// @require {function} font-url - Font asset helper
//

$fonts: 'HelveticaNeueLTGEOW82-25UltLt', 'HelveticaNeueLTGEOW82-35Th', 'HelveticaNeueLTGEOW82-45Lt',
  'HelveticaNeueLTGEOW82-45Lt-Regular', 'HelveticaNeueLTGEOW82-55Rm', 'HelveticaNeueLTGEOW82-65Md',
  'HelveticaNeueLTGEOW82-75Bd', 'BPG Square 37 Caps', 'BPG Square 37', 'Ranua-Medium', 'Ranua-Regular';

@each $font in $fonts {
  @if ($font != '') {
    @font-face {
      font-family: $font;
      src: font-url('#{$font}.eot');
      src: font-url('#{$font}.eot?#iefix') format('embedded-opentype'), font-url('#{$font}.otf') format('opentype'),
        font-url('#{$font}.svg##{$font}') format('svg'), font-url('#{$font}.ttf') format('truetype'),
        font-url('#{$font}.woff2') format('woff2'), font-url('#{$font}.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }
  }
}
